.left-side {
    position: relative;
}

.info-panel {
    width: 390px;
}

.font-big {
    font-size: 36px;
    font-weight: 300;
}

.font-medium {
    font-size: 24px;
    font-weight: 300;
}

.jump-range {
    font-size: 42px;
    font-weight: 300;
}

.active-color {
    color: var(--active);
}

.commander-info {
    border-bottom: 1px solid;
}

.credits {
    padding: 10px 0 15px 0;
}

.ship-info .label {
    margin-top: 25px;
}

.fuel,
.capacity {
    display: flex;
    justify-content: space-between;
}

.bar {
    width: 74%;
    border: 1px solid;
    height: 13px;
    margin-top: 8px;
}

.filled {
    height: 100%;
    background-color: var(--normal);
}

.cargo {
    border-top: 1px solid;
    margin-top: 15px;
    padding-top: 15px;
}

.capacity {
    margin-bottom: 10px;
}

.cargo .title {
    margin-bottom: 5px;
}

.camera-button {
    width: 300px;
    height: 147px;
    position: absolute;
    bottom: 6px;
    left: 160px;
}

.camera-button .bg {
    position: absolute;
    top: 8px;
    left: 8px;
}

.camera-button .icon {
    position: absolute;
    top: 50%;
    left: 39px;
    transform: translate(0, -50%);
}

.camera-button .label {
    width: 125px;
    float: right;
    margin-top: 43px;
}
