.ship-controls .left-side .button,
.ship-controls .right-side .button {
    margin-top: 14px;
    margin-bottom: 20px;
}

.ship-controls .center {
    position: relative;
}

.ship-controls .top-row {
    display: flex;
    justify-content: space-between;
}

.ship-controls .bottom-row {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    position: relative;
}

.ship-image.Federation_Corvette {
    width: 192px;
    height: 368px;
    background: url("../static/img/federal-corvette.png");
}

.ship-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.ship-controls .info {
    font-weight: 300;
    padding: 12px 20px 5px 20px;
}

.info .percent {
    font-size: 46px;
    border-bottom: 1px solid;
}

.info .label {
    font-size: 22px;
    padding-top: 10px;
}

.hull.info {
    color: var(--alarm);
    text-align: right;
    float: right;
}

.info {
    padding: 5px 20px;
}

.shields.info {
    color: var(--shields);
    float: left;
}

.ship-controls .left-side .button,
.ship-controls .right-side .button:first-child {
    margin-top: 0;
}

.overheating {
    animation: alarm-blink 1s infinite;
}

.overheating-label {
    animation: alarm-blink 1s infinite;
    border: 1px solid;
    padding: 6px 15px;
    position: absolute;
    left: 50%;
    top: 35px;
    transform: translate(-50%, 0);
}

@keyframes alarm-blink {
    0% {
        filter: hue-rotate(340deg) saturate(1.6) brightness(1);
    }
    49% {
        filter: hue-rotate(340deg) saturate(1.6) brightness(1);
    }
    50% {
        filter: hue-rotate(21deg) saturate(1) brightness(1.5) drop-shadow(0 0 6px var(--alarm-active-glow));
    }
    100% {
        filter: hue-rotate(21deg) saturate(1) brightness(1.5) drop-shadow(0 0 6px var(--alarm-active-glow));
    }
}
