.mode > * {
    display: inline-block;
    line-height: 28px;
    vertical-align: top;
    margin: 0 5px;
    position: relative;
}

.mode {
    position: relative;
    padding: 10px;
    width: 185px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.mode * {
    box-sizing: border-box;
}

.mode.active {
    border-color: var(--normal);
    animation: flash 0.3s;
}

@keyframes flash {
    0% {
        background-color: transparent;
        border-color: transparent;
    }
    30% {
        background-color: var(--normal);
        border-color: var(--normal);
    }
    100% {
        background-color: transparent;
        border-color: var(--normal);
    }
}

.left-bracket,
.right-bracket {
    position: absolute;
    top: -1px;
    height: 50px;
    width: 10px;
    border: 1px solid;
    margin: 0;
}

.mode.active .left-bracket,
.mode.active .right-bracket {
    display: none;
}

.left-bracket {
    left: -1px;
    border-right: none;
}

.right-bracket {
    right: -1px;
    border-left: none;
}

.line.fade {
    background: linear-gradient(90deg, var(--normal) 0%, var(--normal-transparent) 100%);
    height: 1px;
    width: 450px;
    position: relative;
    top: 23px;
    margin: 0 15px;
}

.left.line.fade {
    background: linear-gradient(90deg, var(--normal-transparent) 0%, var(--normal) 100%);
}

.mode-switch {
    display: flex;
    justify-content: center;
}

.mode-switch .center {
    width: 30%;
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.separator-line {
    width: 200px;
    height: 1px;
    background: var(--normal);
    position: relative;
    top: 23px;
}
