@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

:root {
    --normal: #f76e01;
    --normal-glow: #f76e0154;
    --active: #a6fffe;
    --active-glow: #a6fffe54;
    --alarm: #f74601;
    --alarm-glow: #f7460154;
    --alarm-active: #f7b101;
    --alarm-active-glow: #f7b10154;
    --shields: #82d3ff;
    --shields-glow: #82d3ff54;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url("./static/img/nebula_mosaic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Quicksand", sans-serif;
    color: var(--normal);
    font-size: 15px;
    text-transform: uppercase;
}
