svg {
    display: block;
}

.middle-column {
    max-width: 724px;
}

.layout {
    padding-top: 130px;
    display: flex;
    justify-content: space-around;
    max-width: 1920px;
    margin: auto;
}
