.button {
    user-select: none;
}

.button.small {
    width: 202px;
    height: 112px;
    position: relative;
}

.btn-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
}

.btn-icon {
    width: 64px;
    height: 32px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 8px;
}

.button.small.left > svg {
    transform: rotate(180deg);
}

.btn-separator {
    background: var(--normal);
    height: 1px;
    width: 90px;
    margin: 5px 0;
}

.btn-icon > svg {
    max-height: 100%;
    max-width: 100%;
}

.button.small.right .btn-label > * {
    float: right;
    text-align: right;
    clear: both;
}

.btn-bg > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.active .btn-bg .normal,
.btn-bg .active {
    opacity: 0;
}

.active .btn-bg .active {
    opacity: 1;
}

.btn-bg {
    height: 100%;
}

.left .btn-bg {
    transform: rotate(180deg);
}

.button.active {
    filter: hue-rotate(173deg) saturate(0.5) brightness(1.6) drop-shadow(0 0 6px var(--active-glow));
}

.button.alarm {
    filter: hue-rotate(340deg) saturate(1.6) brightness(1);
}

.button.alarm.active {
    filter: hue-rotate(21deg) saturate(1) brightness(1.5) drop-shadow(0 0 6px var(--alarm-active-glow));
}

.button.disabled {
    filter: saturate(0) brightness(2);
    opacity: 0.5;
}
